iframe.jframe {
    scrolling: no;
    border: none;
}

.jframe {
    overflow: hidden;
}

.timeline {
    float: right;
    width: 80%;
    height:100%;
}

.control {
    float: left;
    width: 20%;
    height:100%;
}

.account {
    width: 100%;
    height: 10%;
}

.float-container {
    width: 100%;
    height: 90%;
}

body,html {
    height: 100%;
    width: 100%;
}