iframe.jframe {
    scrolling: no;
    border: none;
}

.jframe {
    overflow: hidden;
}

.timeline {
    float: right;
    width: 80%;
    display: inline-block;
}

.control {
    width: 20%;
    display: inline-block;
}

.account {
    width: 100%;
}