/* 
    Document   : account.css
    Created on : Jul 23, 2012, 7:44:28 PM
    Author     : mpower
*/
.level-filter {

}
.prefix-filter {
    height: 100%;
    overflow: hidden;
}

.prefix-name {
    direction: rtl;
    text-overflow: ellipsis;
    text-align: left;
}

div {
    overflow: inherit;
}

/*
body,html {
    height: 100%;
    width: 100%;
}
*/

/*
body {
    float: left;
    width: 20%;
    height: 100%;
}*/
