/* 
    Document   : reset
    Created on : Jul 20, 2012, 7:01:08 PM
    Author     : mpower
*/

* {
	margin:0;
	padding:0;
	border-collapse:collapse;
	border-spacing:0;
	border:0;
	font-style:normal;
	font-weight:normal;
	list-style:none;
	text-align:left;
	font-size:100%;
	font-weight:normal;
	content:'';
}

root { 
    display: block;
}

jframe {
    display:block;
    margin:0;
    padding:0;
    border:0;
}